body {
	width: 960px;
	padding: 10px 0;
	margin: 0 auto;
	background-color: #e8e8e8;
	text-align: center;
}

#search_game, #wait_partner, #game, img {
	display: none;
}

.button {
	border: 4px double black;
	background-color: #A7A7A7;
	width: 240px;
	margin: 0 auto;
	padding: 20px 0;
	font-weight: bold;
}

li {
	border: 4px double black;
	padding: 10px 0;
}
